
<div class="container-fluid p-0">
    <div class="row align-items-center g-0 bg-black  custom-row-height">
      <div class="col-lg-6">
          <h1 class="text-center display-4 pt-5 pb-5 text-warning fw-bolder" >JUAN SANTOS XX9</h1>
          <ul class="list-unstyled d-flex justify-content-center">
          <li class="ms-3"><a class="link-body-emphasis link-info" href="#"><fa-icon class="hover-hightlight" [icon]="faTwitter" size="xl" animation="spin"></fa-icon></a></li>
          <li class="ms-3"><a class="link-body-emphasis link-info" href="#">   <fa-icon  class="hover-hightlight" [icon]="faInstagram" size="xl"></fa-icon></a></li>
          <li class="ms-3"><a class="link-body-emphasis link-info" href="#">  <fa-icon  class="hover-hightlight" [icon]="faYoutube" size="xl" animation="beat"></fa-icon></a></li>
          <li class="ms-3"><a class="link-body-emphasis link-info" href="#">   <fa-icon class="hover-hightlight" [icon]="faFacebook" size="xl"></fa-icon></a></li>
          <li class="ms-3"><a class="link-body-emphasis link-info" href="#">  <fa-icon class="hover-hightlight" [icon]="faSpotify" size="xl" animation="shake"></fa-icon></a></li>
          </ul>
        </div>
      <div class="col-lg-6">
          <img src="https://www.motownrecords.com/files/2022/04/Hd4president-Grid.jpg" alt="HD4president" class="img-fluid fullscreen-image">
      </div>
    </div>
</div>




<div class="b-example-divider"></div>


<div class="bg-black text-secondary px-4 py-5 text-center" id="featured-3">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Dark mode hero</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">El artista y su composición son la materia prima , mediante el trabajo del productor musical, se buscara la mejor versión de la composición

        La elección de colores e instrumentación , los arreglos y la edición son procesos que daran a luz la personalidad de la producción . Igualmente la voz , que sera guiada para la mejor interpretación posible el dia de la grabacion . Luego con la pre - mescla la producción y sus colores seran definitorios.
        
        Posteriormente, se contactará con el ingeniero de mescla y mastering indicados, para que mediante su trabajo, la producción quede finalizada y lista para distribuir.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Custom button</button>
        <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>    
</div>

<div class="b-example-divider"></div>
<div class="bg-black container-fluid px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom text-white">Ultimo sencillo</h2>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/2LlAVDIaDFDPJyqPySFNqi?utm_source=generator" width="100%" height="400" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
    </div>
</div>

<div class="b-example-divider"></div>
<div class="bg-black container-fluid px-4 py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom text-white">Ultimo video</h2>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <iframe width="100%" height="560" src="https://www.youtube-nocookie.com/embed/t1gs8Gn9PB0?si=_zmMFX07FwllIMYS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>
