 <!-- FOOTER -->
 <footer class="container">
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
          <!-- <p class="float-end"><a href="#">Back to top</a></p> -->
          <p>© 2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
          <ul class="list-unstyled d-flex">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <!-- <fa-icon icon="instagram"></fa-icon> -->
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
          </ul>
      </div>
  </footer>