 <!-- FOOTER -->
 <footer class="container">
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
          <!-- <p class="float-end"><a href="#">Back to top</a></p> -->
          <p>© 2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
          <ul class="list-unstyled d-flex">
       
          <li class="ms-3"><a class="link-body-emphasis link-dark" href="#"><fa-icon [icon]="faTwitter" size="2x"></fa-icon></a></li>
          <li class="ms-3"><a class="link-body-emphasis link-dark" href="#">   <fa-icon [icon]="faInstagram" size="2x"></fa-icon></a></li>
          <li class="ms-3"><a class="link-body-emphasis link-dark" href="#">  <fa-icon [icon]="faYoutube" size="2x"></fa-icon></a></li>
          <li class="ms-3"><a class="link-body-emphasis link-dark" href="#">   <fa-icon [icon]="faFacebook" size="2x"></fa-icon></a></li>
          <li class="ms-3"><a class="link-body-emphasis link-dark" href="#">  <fa-icon [icon]="faSpotify" size="2x"></fa-icon></a></li>
          </ul>
      </div>
  </footer>