.flex-md-equal > * {
    flex: 1;
}

#artists-container{
    h2{
        font-weight: 500;
    }
}


.card {
    border: none !important;
  }

.card-body{
    text-transform: uppercase;
    padding-left: 0 !important;
    // padding: 1rem 1rem 0rem;
}