<div class="container-fluid p-0">
    <div>
        <img src="https://havasmedianetwork.com/app/uploads/2019/05/havas_contact.jpg" alt="HD4president" class="img-fluid fullscreen-image">
    </div>
</div>
<div class="container-fluid px-4 py-5 bg-black">
    <div class="row px-4 pt-5 my-5 text-center w-100">
        <h2 class="display-4 fw-bold text-white">PONTE EN CONTACTO CON NOSOTROS </h2>
        <div class="col-lg-6  mx-auto m-5">
          <p class="lead mb-4 text-white">
            Estamos aquí para ayudarte. Si tienes alguna pregunta o necesitas asistencia, no dudes en contactarnos.
          </p>     
         
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5 mt-5">
            <div class="col">
                <p><fa-icon [icon]="faEnvelope" size="2x"></fa-icon></p>
                <strong class="text-white">Correo Electrónico:</strong> 
                <p class="text-white">ejemplo@correo.com</p>
            </div>
            <div class="col">
                <p><fa-icon [icon]="faLocation" size="2x"></fa-icon></p>
                <strong class="text-white">Nuestra Oficina:</strong> 
                <p class="text-white">123 Calle Principal, Ciudad, Paíssssssssss</p>
            </div>
            <div class="col">
                <p><fa-icon [icon]="faPhone" size="2x"></fa-icon></p>
                <strong class="text-white">Teléfono Celular:</strong> 
                <p class="text-white">(123) 456-7890</p>
            </div>
              
          </div>
        </div>       
      </div>
</div>
