<div class="card conditional" (click)="redireccionar()">  
    <div class="position-relative overflow-hidden ">
        <img src="assets/img/artista3.jpg" class="card-img-top" alt="Nombre del artista">
        <div class="artist-name d-flex justify-content-center align-items-center position-absolute top-0 start-0 end-0 bottom-0 slideRight">
            <h1 class="card-title text-white p-2 rounded image-name">Artista name</h1>
        </div>
    </div> 
    <div class="card-body">
    <h5 class="card-title px-0">Nombre del artista1</h5>
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    </div>
</div>
