<main>
  
    <div id="myCarousel" class="carousel slide pointer-event" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1"  class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">       
        <div class="carousel-item active">
          <!-- <svg class="bd-placeholder-img" 
          width="100%" 
          height="100%" 
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true" 
          preserveAspectRatio="xMidYMid slice" 
          focusable="false">
          <rect width="100%" height="100%" fill="#777">
          </rect>
          </svg> -->
          <!-- <img src="assets/img/likidos_titulo.png" class="d-block w-100" alt="..."> -->
          <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="assets/video/likidos_home.mp4" type="video/mp4">
          </video>
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>LIKIDOS</h1>
              <p>EL ARTISTA Y SU OBRA DEBEN REPRESENTAR SU ESPIRITUALIDAD Y NO EL EGO</p>
              <!-- <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p> -->
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg> -->
          <!-- <img src="assets/img/likidos_logo2.png" class="d-block w-100" alt="..."> -->
          <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="assets/video/likidos_home2.mp4" type="video/mp4">
          </video>
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>LIKIDOS</h1>
              <p>SOMOS LA NUEVA GENERACION , INFORMADA Y DECIDIDA A DAR UN MENSAJE MUSICAL DE CAMBIO.</p>
              <!-- <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p> -->
            </div>
          </div>
        </div>      
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
  
          <h2>XX9</h2>
          <h6>ARTISTA MUSICAL EXPERIMENTAL</h6>
          <h6>PRODUCTOR MUSICAL</h6>
          <h6>DIRECCIÓN GENERAL</h6>
          <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
  
          <h2>FELIPE</h2>
          <h6>MARKETING</h6>
          <h6>PRODUCTOR MUSICAL</h6>
          <h6>INGENIERO DE GRABACION Y MESCLA</h6>
          <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
  
          <h2>CUTUE</h2>
          <h6>ARTISTA PLASTICO</h6>
          <h6>DIRECCION DE ARTE</h6>
          <h6>DISEÑO GRAFICO - AUDIOVISUALES</h6>
          <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">PRODUCCION MUSICAL.
             <!-- <span class="text-muted">It’ll blow your mind.</span> -->
            </h2>
            <br>
          <p class="lead">
            El artista y su composición son la materia prima , mediante el trabajo del productor musical, se buscara la mejor versión de la composición  
          </p>
          <p class="lead">
            La elección de colores e instrumentación , los arreglos y la edición son procesos que daran a luz la personalidad de la producción . Igualmente la voz , que sera guiada para la mejor interpretación posible
            el dia de la grabacion . Luego con la pre - mescla la producción y sus colores seran definitorios.
          </p>
          <p class="lead">
            Posteriormente, se contactará con el ingeniero de mescla y mastering indicados, para que mediante su trabajo, la producción quede finalizada y lista para distribuir.
          </p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" 
          xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" 
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee"></rect>
          <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">PRODUCCION MUSICAL.
             <!-- <span class="text-muted">See for yourself.</span> -->
            </h2>
            <br>
          <p class="lead">
            Crear una estrategia de comunicacion para el artista definira su inicio en las redes sociales asi como en la industria musical
          </p>         
         
          <p class="lead">
            Por ello, se necesita conocer la mision , vision , valores , fortalezas y debilidades del proyecto musical y del artista, que definira la creacion de contenido que seran propios y unicos del artista.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">MARKETING 
            <!-- <span class="text-muted">Checkmate.</span> -->
          </h2>
          <br>
          <p class="lead">
            La direccion de arte es la que contempla la misitica del artista y la vuelve un campo visual donde los elementos graficos reflejaran la energia y la potencia del artista musical .
          </p> 
          <p class="lead">
            Mediante la fotografia , diseño grafico , visualizer y videoclip se mostraran los colores y la identidad visual unica del artista, asi como de la composicion y concepto.
            
          </p>
          <p class="lead">
            Esta identidad, es lo que diferenciara al artista y complementara el producto musical, para volverlo un producto completo y preparado para ingresar a la industria musical.
          </p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  
  
   
</main>